/* Шапка */

.navigation {
	display: flex;
	background-color: #A9CF5D;
	position: fixed;
	width: 98.75%;
	z-index: 1001;
}

.logo {
	margin-left: 10%;
	height: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headAnchorBlock {
	display: flex;
	margin-left: 15%;
	padding-top: 45px;
}

.adressBlock {
	text-align: center;
}

.headAdress {
	margin-top: 10px;
}

.viber-margin {
	margin-left: 50px;
}

.headAnchor {
	color: #456700;
	transition: 400ms;
}

	.headAnchor:hover {
		color: #7BAD00;
		cursor: pointer;
		transition: 400ms;
	}

.alignCenter {
	margin: 0px 0px 0px 0px;
}

/* Первый блок */

.first-block {
	padding-top: 110px;
}

#slider_bl:not(:hover) #slide1:checked ~.slider-wrapper .inner{
	animation-direction: alternate;
	animation: autoswipe 16s infinite  ease-out;
}

@keyframes autoswipe{
	0% {margin-left:0}
	23% {margin-left:0}
	27% {margin-left:-100%}
	48% {margin-left:-100%}
	52% {margin-left:-200%}
	73% {margin-left:-200%}
	77% {margin-left:-300%}
	100% {margin-left:-300%}
}

/* Слайдер */
#slider_bl .wrapper{max-width:60em;margin:1em auto;position:relative}
#slider_bl input{display:none}
#slider_bl .inner{width:500%;line-height:0}
#slider_bl article{width:20%;float:left;position:relative}
#slider_bl article img{width:100%}
#slider_bl .slider-prev-next-control{height:50px;position:absolute;top:50%;width:100%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
#slider_bl .slider-prev-next-control label{display:none;width:40px;height:40px;border-radius:50%;background:#fff;opacity:.7}
#slider_bl .slider-prev-next-control label:hover{opacity:1}
#slider_bl .slider-dot-control{position:absolute;width:100%;bottom:0;text-align:center}
#slider_bl .slider-dot-control label{cursor:pointer;border-radius:5px;display:inline-block;width:10px;height:10px;background:#bbb;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
#slider_bl .slider-dot-control label:hover{background:#ccc;border-color:#777}
#slider_bl .info{position:absolute;font-style:italic;line-height:20px;opacity:0;color:#000;text-align:left;-webkit-transition:all 1s ease-out .6s;-moz-transition:all 1s ease-out .6s;transition:all 1s ease-out .6s}
#slider_bl .info h3{color:#fcfff4;margin:0 0 5px;font-weight:400;font-size:1.5em;font-style:normal}
#slider_bl .info.firstdescription{top:30px;left:30px; background-color: #28402680;}
#slider_bl .info.firstdescription > .color{color: #a9cf5d; margin: 5px 5px 5px 5px;}
#slider_bl .info.seconddescriprion{bottom:30px;left:30px;background-color: #28402680;}
#slider_bl .info.seconddescriprion > .color{color: #a9cf5d; margin: 5px 5px 5px 5px;}
#slider_bl .info.thirddescription{top:30px;left:30px;background-color: #28402680;}
#slider_bl .info.thirddescription > .color{color: #a9cf5d; margin: 5px 5px 5px 5px;}
#slider_bl .info.fourthdescription{top:30px;right:30px;text-align: right;background-color: #28402680}
#slider_bl .info.fourthdescription > .color{color: #a9cf5d; margin: 5px 5px 5px 5px;}
#slider_bl .slider-wrapper{width:100%;overflow:hidden;border-radius:5px;box-shadow:1px 1px 4px #666;background:#fff;background:#fcfff4;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;transition:all .5s ease-out}
#slider_bl .slider-wrapper .inner{-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-transition:all .8s cubic-bezier(.77,0,.175,1);-moz-transition:all .8s cubic-bezier(.77,0,.175,1);transition:all .8s cubic-bezier(.77,0,.175,1)}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{font-family:FontAwesome;font-style:normal;font-weight:400;text-decoration:inherit;margin:0;line-height:38px;font-size:3em;display:block;color:#777}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1):after{content:"\f105";padding-left:15px}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1){display:block;float:right;margin-right:5px}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4){display:block;float:left;margin-left:5px}
#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4):after{content:"\f104";padding-left:8px}
#slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5){background:#333}
#slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info,#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3) .info,#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4) .info,#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5) .info{opacity:1}
#slider_bl #slide1:checked~.slider-wrapper .inner{margin-left:0}
#slider_bl #slide2:checked~.slider-wrapper .inner{margin-left:-100%}
#slider_bl #slide3:checked~.slider-wrapper .inner{margin-left:-200%}
#slider_bl #slide4:checked~.slider-wrapper .inner{margin-left:-300%}
/* #slider_bl #slide5:checked~.slider-wrapper .inner{margin-left:-400%} */
@media only screen and (max-width:850px) and (min-width:450px){#slider_bl .slider-wrapper{border-radius:0}}
@media only screen and (max-width:450px){#slider_bl .slider-wrapper{border-radius:0}#slider_bl .slider-wrapper .info{opacity:0}}
@media only screen and (min-width:850px){#slider_bl body{padding:0 80px}}

/* Второй блок */

.spancontrol {
	position: relative;
	display: block;
	width: 60%;
	box-sizing: border-box;
	text-align: justify;
	margin-left: 20%;
	padding-top: 100px;
}
	.spancontrol:after{
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		vertical-align: top;
		content: '';
	}

.itemholder {
	display: inline-block;
}


.itemcontrol {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	display: inline-block;
	transition: 800ms;
	text-align: justify;
    overflow: hidden;
	align-content: center;
}

	.itemcontrol:after{
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		vertical-align: top;
		content: '';
	}
	
.pluses {
	width: 200px;
}





